/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 10px;
}

li {
  border-bottom: 1px solid black;
}
li:first-child {
  font-weight: 900;
}

li:last-child {
  border-bottom: none;
}

li:nth-child(2) {
  color: rgb(0, 51, 255);
}
li:nth-child(odd) {
  background: #1fba11;
}

li:nth-child(even) {
  background: #ba1111;
}

h1::after {
  content: '→';
}

p::first-letter {
  font-size: 3em;
  float: left;
  margin-right: 4px;
} */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  background-color: black;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    'top-left top-center right'
    'bottom-left bottom-left right';
  gap: 5px;
}

.top-left {
  background-color: aqua;
  grid-area: top-left;
}

.top-center {
  background-color: crimson;
  grid-area: top-center;
}
.right {
  background-color: beige;
  grid-area: right;
}

.bottom-left {
  background-color: palevioletred;
  grid-area: bottom-left;
} */
